*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    padding-left: 51px;
    padding-right: 31px;
    background: #0d036b;
}
.nav-list{
   width: 50%;
   display: flex;
   align-items: center;
}

.nav-list li{
   list-style: none;
   padding: 26px 30px;
}

.nav-list li a{
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#f8fbfe;;
}

.nav-list li a:hover{
    color:gray;
}
  
.rightnav{
    width: 90%;
    text-align:left;
    padding: 0 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#f4f5f7;
    font-size: large;
    padding-right: 40px;
}

.main{
    height: 86vh;
    margin: auto;
    background-color: #0d036bb0;
    
}

.devimg{
    padding: 174px;
    padding-left: 27%;
    display: flex;
}

.about{
    display: flex;
    background: #f3f3f0;
    margin:right;
    padding:80px;
    padding-left: 40px;
}

.question{
    color: #0d036b;
    padding-left: 21%;
}

.welcome{
    padding: 0%;
    padding-top: 2%;
    width: 75%;
    font-size:125%;
    padding-left: 25%;
    background-color: #f8fbfe;
}

.intro{
    color:#170250 ;
    width: 70%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services{
    background-color: #fdfdfd;
    height: 66vh;
}

.titleservices{
    padding-top: 2%;
    padding-left: 32%;
    font-size: 300%;
    color: #0d036b;
}

.pps{
    padding-left: 3%;
    width: 30%;
    height: 210px;
    display: inline-table;
}

.img{
    width: 37%;
    
}

.subjecttitle{
    padding-left: 35%;
    font-size: 175%;
    color:#44318c ;
}

.img1{
    padding-left:0%;
}

.ppsabout{
    padding-left:2%;
    align-items: center;
    justify-content: center;
    background-color: #9a9d9e58 ;;
    width: 87%;
    text-decoration: none;
    color: #0d036b;
    height: 23%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns:20% 20% 20%;
    align-items: center;
    
}

.ds{
    padding-left: 3%;
    width: 30%;
    height: 210px;
    display: inline-table;
}

.dsabout{
    padding-left: 2%;
    background-color: #9a9d9e58 ;
    width: 87%;
    height: 23%;
    color: #0d036b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dbms{
    padding-left: 3%;
    width: 30%;
    height: 210px;
    display: inline-table;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dbmsabout{
    padding-left: 2%;
    background-color:#9a9d9e58 ;
    width: 87%;
    height: 23%;
    color: #0d036b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contectform{
    background-color:#ffffff ;;
}

.titlecontectform{
    padding-top: 2%;
    padding-left: 35%;
    font-size: 300%;
    color: #0d036b;
}

.contectformsubtitle{
    padding-left: 38%;
    font-size: 175%;
    color: #44318c;
}

.guidance{
    padding-left: 13%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(45, 32, 148);
}

form{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 28%;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input , form textarea{
     border: 2px solid #0d036b;
     border-radius:20px;
     margin: 10px 0px;
     padding: 20px;
     outline: none;
     background: #f3f3f0;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 16px;
}

form button{
    padding: 15px;
    background: #0f0283;
    color: #f4f5f7;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 200px;
    margin: 20px auto 0;
    border: 2px solid #0d036b;
    border-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

form button:hover{
   color: rgb(57, 11, 240);
   background: #1b0ddf03;   
}

.footer{
    background-color: #0f056a;
    color: #f3f3f0;
    height: 23px;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containt{
    width: 100%;
    display: flex;
}

.contactlink{
    background-color: #0f056a;
    width: 10%;
    margin-left: 52%;
    padding-left: 8%;
    color: #eae8f4;
}

.problemno{
    background-color: #a5aaa700;
    padding: 2%;
    padding-left: 42%;
    color: #0f056a;
    font-size: 350%;
}

.problemstetment{
    background-color: #edecf200;
    padding: 1.5%;
    color: #0d036b;
    padding-right: 14%;
    padding-left:20%;
}

.statement{
    padding-left:1%;
    color: #554d9f;
    font-size: 180%;
}

.heading{
    color: #0f056a;
    font-size: 200%;
}

.code{
    background-color: #f7f6f300;
    padding-left:20%;
    color: #0f056a;
    font-size: 200%;
}

.codesection{
    color: rgb(55, 29, 88);
    font-size: 70%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    border: 4px solid rgba(128, 128, 128, 0);
    border-radius: 2%;
    background-color: #b0b4b6;
}

.run{
    padding: 15px;
    background: #0f0283;
    color: #f4f5f7;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 20px auto 0;
    border: 2px solid #0d036b;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.outputheading{
    color: #0f056a;
    font-size: 200%;
    padding-left: 20%;
}

.outputimg{
    padding-left: 21%;
    padding-top: 2%;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: #f8fafb;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:1194px)
{
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
        padding-left: 51px;
        padding-right: 31px;
        background: #0d036b;
        transition: all 0.7s ease-out;
        height: 447px;
    }

    .main{
        /* flex-direction: column-reverse; */
        max-width: 100%;
        height: 110%;
    }
    
    .devimg {
        flex-direction: column;
        padding-left: 22%;
        
    }

    .about{
        padding-left: 145px;
    }

    .nav-list{
        /* width: 50%; */
        display: flex;
        align-items: center;
        flex-direction: column;
     }

     .burger{
        display: block;
        padding-right: 1%;
     }

     .h-nav{
        height: 72px;
     }

     .v-class{
        opacity: 0;
     }

     .nav-list li{
        list-style: none;
        padding: 26px 30px;
     }
     
     .nav-list li a{
       text-decoration: none;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       color:#f8fbfe;;
     }
     
     .nav-list li a:hover{
         color:gray;
     }
       
     .rightnav{
         width: 90%;
         text-align:left;
         padding: 0 23px;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         color:#f4f5f7;
         font-size: large;
         padding-right: 40px;
         padding-left: 0%;
     }

     .welcome{
        padding: 0%;
        padding-top: 2%;
        /* width: 75%; */
        max-width: 768px;
        font-size:125%;
        padding-left: 28%;
        background-color: #f8fbfe;
    }
    
    .services{
        width: 100%;
    }

    .intro{
        color:#170250 ;
        width: 70%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .pps {
        padding-left: 36%;
        width: 30%;
        height: 210px;
        flex-direction: column;
    }

    .ds {
        padding-left: 36%;
        padding-top: 5%;
        width: 30%;
        height: 210px;
        display: inline-table;
        flex-direction: column;
    }

    .dbms {
        padding-left: 36%;
        padding-top: 5%;
        width: 30%;
        height: 210px;
        display: inline-table;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex-direction: column;
    }

    .ppsabout{
        width: 98%;
    }

    
    .dsabout{
        width: 98%;
    }

    
    .dbmsabout{
        width: 98%;
    }


    .contectform{
        padding-top: 50%;
        /* padding-right: 5%; */
    }
     
    .guidance{
        width: 80%
    }
}

@media only screen and (max-width:1024px)
{
    .contectform {
        padding-top: 59%;
        padding-right: 41%;
    }
}
@media only screen and (max-width:912px)
{
    .contectform {
        padding-top: 14%;
        padding-right: 41%;
    }
}



@media only screen and (max-width:871px)
{
    .contectform{
        padding-top: 59%;
        padding-right: 34%;
    }
    
    .welcome{
        padding-left: 17%;
    }
    
    .services{
        width: 78%;
    }

    .contectform{
        padding-right: 37%;
    }

    .titlecontectform {
        padding-top: 2%;
        padding-left: 62%;
        font-size: 300%;
        color: #0d036b;
    }

    .contectformsubtitle {
        padding-left: 62%;
        font-size: 175%;
        color: #44318c;
    }

    .guidance {
        width: 80%;
        padding-left: 33%
    }

    form {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 33%;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:646px)
{
    .about {
        padding-left: 82px;
    }

    .devimg {
        flex-direction: column;
        padding-left: 27%;
    }

    .titleservices {
        padding-top: 2%;
        padding-left: 44%;
        font-size: 300%;
        color: #0d036b;
    }

    .subjecttitle {
        padding-left: 43%;
        font-size: 175%;
        color: #44318c;
    }

    .contectform {
        padding-top: 86%;
        padding-right: 36%;
    }
    
}

@media only screen and (max-width:541px)
{
    .about {
        padding-left: 50px;
    }

    .services {
        width: 42%;
    }

    .titleservices {
        padding-top: 2%;
        padding-left: 67%;
        font-size: 300%;
        color: #0d036b;
    }

    .subjecttitle {
        padding-left: 95%;
        font-size: 175%;
        color: #44318c;
    }

    .contectform {
        padding-top: 114%;
        padding-right: 34%;
    }

    .titlecontectform {
        padding-top: 2%;
        padding-left: 47%;
        font-size: 300%;
        color: #0d036b;
    }

    .contectformsubtitle {
        padding-left: 51%;
        font-size: 175%;
        color: #44318c;
    }
}

@media only screen and (max-width:466px)
{
    .about {
        padding-left: 28px;
    }

    .contectform {
        padding-top: 131%;
        padding-right: 34%;
    }
}

@media only screen and (max-width:400px)
{
    .services {
        width: 11%;
    }

    .about {
        padding-left: 19px;
    }

    .titleservices {
        padding-top: 2%;
        padding-left: 187%;
        font-size: 300%;
        color: #0d036b;
    }

    .subjecttitle {
        padding-left: 288%;
        font-size: 175%;
        color: #44318c;
    }

    .pps {
        padding-left: 36%;
        width: 30%;
        height: 210px;
        flex-direction: column;
    }

    .titlecontectform {
        padding-top: 2%;
        padding-left: 32%;
        font-size: 300%;
        color: #0d036b;
    }

    .contectformsubtitle {
        padding-left: 40%;
        font-size: 175%;
        color: #44318c;
    }

    .guidance {
        width: 104%;
        padding-left: 18%;
    }
}
